.bgimg {
    background-image: url('../../assets/img/coming-soon.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mat-black {
    background-color: black;
    color: #fff;
}

.social-fab-size {
    font-size: 1.5em;
}

button {
    margin: 5px;
}

.title-small {
    font-size: 10vw;
    margin: 2.5vw;
    padding: 5px;
}

.title-big {
    font-size: 40px;
    margin: 15px;
}

.coming-soon-small {
    font-size: 8vw;
    margin: 2.5vw;
    font-style: italic;
    padding: 5px;
}

.coming-soon-big {
    font-size: 30px;
    margin: 15px;
    font-style: italic;
}