<div class="bgimg">
    <div class="middle">
        <div class="title-small" *ngIf="innerWidth <= fontSizeBreakPoint">
            ThijsThijssen.nl
        </div>
        <div class="title-big" *ngIf="innerWidth > fontSizeBreakPoint">
            ThijsThijssen.nl
        </div>
        <div class="coming-soon-small" *ngIf="innerWidth <= fontSizeBreakPoint">
            COMING SOON
        </div>
        <div class="coming-soon-big" *ngIf="innerWidth > fontSizeBreakPoint">
            COMING SOON
        </div>
        <button mat-mini-fab color="black" (click)="goToLink('https://www.linkedin.com/in/thijsthijssen/')">
            <span class="social-fab-size">
                <i class="fab fa-linkedin"></i>
            </span>
        </button>
        <button mat-mini-fab color="black" (click)="goToLink('https://github.com/thijsthijssen')">
            <span class="social-fab-size">
                <i class="fab fa-github"></i>
            </span>
        </button>
    </div>
</div>